<!DOCTYPE html>
<html lang="en">

<head>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
        <!-- Add `node_modules/` to global paths so `require` works properly in development -->
        <script>
            require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, "\\\\") %>')
        </script>
        <% } %>
</head>

<body>
    <h1 stlye="font-size:100px;">Data Processing Thread</h1>

    <script>
        //Data process 

        //Node Modules imports
        const electron = require('electron')
        const ipcRenderer = electron.ipcRenderer
        const remote = require('electron').remote;

        const axios = require('axios')
        const CoinMarketCap = require('coinmarketcap-api')
        const client = new CoinMarketCap()

        const firebase = require('firebase')


        //Api Data store
        let CoinsPrices = []
        let CoinOptions = []

        //connecting to the firebase database
        let dbConfig = remote.getGlobal('config')
        firebase.initializeApp(dbConfig)




        //---------------------------IPCRenderer events-----------------------------------//

        ipcRenderer.on("txt", (event, data) => {
            console.log(data.msg)
        })

        ipcRenderer.on("send-db-config", (event, config) => {
            dbConfig = config

            console.log('Database Connection Verified')
            dbActions()

        })

        ipcRenderer.on("get-price-data", (event, settings) => {
            let cData = CustomAPIcall(settings)

            electron.ipcRenderer("send-price-data", cData)

        })

        //---------------------------FUNCTIONS-----------------------------------//

        //number Format Function
        const numberWithCommas = (x) => {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        //Function to get a coin IDs
        const sortForCoinId = (CoinsPrices) => {
            return CoinsPrices.map(a => a.id)
        }

        //Args = {limt, convert, start etc...}  <- Takes in this and return result array[] of customAPIcall
        const CustomAPIcall = (settings) => {
            const customcall = new CoinMarketCap()
            customcall.getTicker(settings)
                .then((data) => {
                    return data
                }).catch(console.error)
        }

        const dbActions = () => {
                let fruits = firebase.database().ref('fruits')

                var data = {
                    name: 'Den DEn',
                    pagan: true
                }

                console.log(fruits)
                fruits.push(data)
            }
            //---------------------------MAIN RUNTIME LOGIC-------------------------//
            //on load
        client.getTicker()
            .then((data) => {
                CoinsPrices = data
                CoinOptions = data.map(a => a.id)
            }).catch(console.error)

        //Setinterval to auto-update data
        setInterval(() => {
            client.getTicker()
                .then((data) => {
                    CoinsPrices = data
                }).catch(console.error)
        }, 10000)

        //Connect to DB
        dbActions()
    </script>

</body>

</html>